<footer>
  <div class="footer-div">
    <div class="row mx-5 align-items-center">
      <div class="col-3">Our story</div>
      <div class="col-3">Host a stay</div>
      <div class="col-3">Hosting support</div>
    </div>
    <div class="row mx-5 align-items-center">
      <div class="col-3">Our board</div>
      <div class="col-3">Donate to stays</div>
      <div class="col-3">Donations support</div>
    </div>
    <div class="row mx-5 align-items-center">
      <div class="col-3">Our work</div>
    </div>
  </div>
  <div class="footer-div-two">
    <div>
      <a class="footer-brand" href="/homely">homely<span>.org</span></a>
    </div>
    <div>
      Made with &hearts; by
      <a href="https://linkedin.com/in/rahulkumarpahwa" style="color: white;";>Rahul Kumar</a>
    </div>
    <div>
      © 2023 homely.org. All rights reserved.
      <a href="#" class="privacy">Privacy Policy</a>
    </div>
    
  </div>
</footer>
