<div>
<ul class="nav navbar mx-5 mt-3">
  <li class="nav-item">
    <a class="nav-link nav-brand" href="/homely">homely<span>.org</span></a>
  </li>
  <div class="nav ms-auto nav-underline">
    <li class="nav-item">
      <a class="nav-link" href="/homely/get-involved">Get involved</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/homely/about">Who we are</a>
    </li>
      <li class="nav-item">
        <a class="btn btn-dark donate-btn" href="/homely/donate">Donate</a>
      </li>
  </div>
</ul>
</div>