<body>
  <% layout('/layouts/boilerplate') -%>

  <h1 class="banner">Opening homes in times of crisis</h1>

<img src="https://res.cloudinary.com/dwtcjjxwc/image/upload/v1702025115/pic0_hb6pwl.jpg" class="pic0"/>

  <div class="content-2">
    <div class="content-2-div">
      We partner with our community to offer housing in emergencies, from
      natural disasters to large-scale conflicts.
      <div class="content-2-link">
        <a href="/homely/about">Learn more about us</a>
      </div>
    </div>
  </div>

  

  <div class="content-3-div">
    <div class="content-3-div-1">
      How can <br />
      you help?
    </div>
    <div class="content-3-div-2">
      <div>
        <h4>I can donate</h4>
        <p>
          In times of crisis, your donation helps people find a <br />
          place to call home.
        </p>
        <button class="btn btn-dark">Donate now</button>
      </div>
      <div>
        <h4>I can host</h4>
        <p>
          Join over 1,00,000 hosts and give people a free place to <br />stay
          when they need it most.
        </p>
        <button class="btn btn-dark">Offer your space</button>
      </div>
    </div>
  </div>
</body>
